<section class="header">
  <div class="main">
    <div class="header-row">
      <div class="col-6">

        <div class="header-left">
            <div class="header-circle-desk"></div>
         <img
            class="header-left-img"
            src="assets/img/verena/verena-schranz-start.png"
            alt=""
          /> 
        </div>
      </div>
      <div class="col-6">
        <div class="header-content">
          <h1 class="header-h1">{{ "header.hello" | translate }}</h1>
          <h2 class="header-h2-1">Frontend</h2>
          <h2 class="header-h2-2">Developer</h2>
        </div>
        <div class="header-btn-box">
          <div class="header-btn-box-scroll">
            <div class="header-btn-box-scroll-text">scroll</div>  
            <div class="header-btn-box-scroll-line"> </div>
          </div>
            <div class="header-btn-box-social">
                <a href="https://github.com/VerenaSchranz" target="_blank"><img src="assets/img/Icons/social/github.svg" alt=""></a>
                <a href="mailto:info@verena.schranz.de" ><img src="assets/img/Icons/social/mail.svg" alt=""></a>
                <a href="https://www.linkedin.com/in/verena-schranz-1970ab2a6/" target="_blank"><img src="assets/img/Icons/social/linkedin.svg" alt=""></a>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="header-circle-little"></div>
