<section class="contact">
    <div class="main">
      <div class="row-contact">
        <div class="col-6">
          <h2>Contact</h2>
          <h3>Got a problem to solve?</h3>
          <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
          <span class="contact-info">Need a Frontend developer?</span><span class="contact-info-bold"> Contact me!</span>
          <div class="contact-circle-1"></div>
        </div>
        <div class="col-6">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="form">
                <div class="form__group">
                    <input [(ngModel)]="contactData.name" [ngModelOptions]="{ standalone: true }" type="text" class="form__input" placeholder="Your name" id="name" required>
                    <label for="name" class="form__label">Name</label>
                </div>
            
                <div class="form__group">
                    <input [(ngModel)]="contactData.email" [ngModelOptions]="{ standalone: true }" type="email" class="form__input" id="email"  placeholder="Your email address" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    <label for="email" class="form__label">Email Address</label>
                </div>
                
                <div class="form__group">
                    <textarea [(ngModel)]="contactData.message" [ngModelOptions]="{ standalone: true }" class="form__input" placeholder="Your message" id="message" required></textarea>
                    <label for="message" class="form__label">Message</label>
                </div>
                
                <div class="form__checkbox-group">
                    <input type="checkbox" class="form__checkbox-input" id="large" name="size" required>
                    <label for="large" class="form__checkbox-label">
                        <span class="form__checkbox-button"></span>
                        I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
                    </label>
                </div>
            
                <div class="form__group">
                    <input type="submit" disabled value="Say hello ;) " class="button form__btn-submit">
                </div>
            </form>
            
        </div>
      </div>
    </div>
  </section>
  