<div class="contactfield">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group namefield">
            <input type="text" formControlName="name" id="name" placeholder=" ">
            <label for="name">your name</label>
            <span *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid" class="error-icon"><img src="assets/img/Icons/form/error.svg" alt=""></span>
            <span *ngIf="contactForm.get('name')?.valid" class="valid-icon"><img src="assets/img/Icons/form/valid.svg" alt=""></span>
        </div>
            <div class="form-group emailfield">
                <input type="email" formControlName="email" id="email" placeholder=" ">
                <label for="email">your email</label>
                <span *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="error-icon">:ausrufezeichen:</span>
                <span *ngIf="contactForm.get('email')?.valid" class="valid-icon">:starkes_häkchen:</span>
            </div>
                <div class="form-group messagefield">
                    <textarea type="text" formControlName="message" id="message" placeholder=" "></textarea>
                    <label for="message">your message</label>
                    <span *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid" class="error-icon">:ausrufezeichen:</span>
                    <span *ngIf="contactForm.get('message')?.valid" class="valid-icon">:starkes_häkchen:</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" formControlName="privacyPolicy" id="privacyPolicy">
                    <label for="privacyPolicy">I have read the privacy policy and agree to the processing of my data as outlined.</label>
                </div>