// Importieren der Farbvariablen aus colors.scss
@import "../../style/colors.scss";
@import "../../style/mixins.scss";

// Stil für die gesamte Navigation
.nav-imprint-page {
  width: 100%;
  height: 80px;
  position: absolute;
  background-color: $primary-color;
  .nav-mobile span {
    background-color: $white;
  }
  a.navLangActive::after {
    content: "";
    background-color: $white !important;
  }
  .nav-menu-link,
  .nav-language-switch,
  a.navLangActive,
  a {
    color: $white !important;
  }
  .nav-mobile.open span {
    background-color: $primary-color;
  }
}
.row-nav {

  &.scrolled {
    background-color: $primary-color;
    height: 80px;
    top: 0px;
    position: relative;
    // max-width: 1400px;
    div.nav {
      top: 0px;
    }

    a.nav-menu-link,
    .nav-language-switch a,
    .nav-language-switch-desk {
      color: $white;
    }
    .nav-mobile span,
    a.navLangActive:after,
    a.nav-menu-link:after {
      background-color: $white;
    }

    .nav-mobile.open span {
      background-color: $primary-color!important;
    }
  }
}
.nav {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  &-mobile {
    display: none;
  }
  &-language-switch {
    display: flex;
    color: #57e8a2;
    align-items: center;
    font-size: 23px;
    gap: 10px;
    a {
      cursor: pointer;
    }
    a.navLangActive {
      color: $secondary-color;
      font-weight: 700;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: #57e8a2; 
        transition: none; 
        transform: none; 
      }
    }
    span {
      font-weight: 700;
      font-size: 25px;
    }
  }
  &-logo {
    width: 50%;
    img {
      width: 50px;
      height: auto;
    }
  }

  &-menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-link {
      text-decoration: none;
      font-size: 23px;
      position: relative;
      transition: color 0.3s ease;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        transition: transform 0.3s ease;
        transform-origin: center left;
        transform: scaleX(0);
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .nav, .scrolled {

    justify-content: space-between;
    &-logo {
      width: 20%;
    }
    &-menu {
      width: 60%;
    }
  }
}

@media (max-width: 980px) {
  .nav {
    &-language-switch {
      display: flex;
      color: $primary-color;
      align-items: center;
      gap: 30px;
      &-desk {
        display: none;
      }
      &-mobile {
        display: block;
      }
    }
    &-menu {
      justify-content: flex-end;
      a {
        display: none;
      }
    }
    &-menu-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      gap: 33px;
      a {
        font-size: 23px;
      }
    }
    &-mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 70px;
      cursor: pointer;

      span {
        background: $primary-color;
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-of-type(1) {
          width: 50%;
        }

        &:nth-of-type(2) {
          width: 100%;
        }

        &:nth-of-type(3) {
          width: 75%;
        }
      }

      &.open {
        span:nth-of-type(1) {
          transform-origin: bottom;
          transform: rotate(45deg) translate(8px, 0px);
        }

        span:nth-of-type(2) {
          transform-origin: top;
          transform: rotate(-45deg);
        }

        span:nth-of-type(3) {
          transform-origin: bottom;
          width: 50%;
          transform: translate(30px, -11px) rotate(45deg);
        }
      }
    }
    &-overlay {
      width: 100vw;
      @include linear-gradient-background($white, $linear-color);
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 3;
    }
  }
}
