<section class="row-nav">
    <div class="main">
<div class="nav">
  <div class="nav-logo">
    <img src="assets/img/Icons/logo-white.svg" alt="Logo">
  </div>
  <div class="nav-menu">
    <a href="#aboutme">About me</a>
    <a href="#skills">Skill Set</a>
    <a href="#work">My Work</a>
    <a href="#contact">Contact</a>
    <div class="nav-language-switch">
      <a (click)="changeLanguage('en')">EN</a>
      <span>|</span>
      <a (click)="changeLanguage('de')">DE</a>
    </div> 
    <div class="nav-mobile" (click)="toggle()" [class.open]="isChecked">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

    </div>
  </section>
  
  <div class="nav-overlay" *ngIf="showOverlay" (click)="closeMenu()">
    <div class="nav-logo">
      </div>
    <div class="nav-menu-content">
        <a href="#aboutme">About me</a>
        <a href="#skills">Skill Set</a>
        <a href="#work">My Work</a>
        <a href="#contact">Contact</a>
        <div class="nav-language-switch">
          <a (click)="changeLanguage('en')">EN</a>
          <span>|</span>
          <a (click)="changeLanguage('de')">DE</a>
        </div> 
    </div>
  </div>
  