<section class="row-nav">
    <div class="main">
<div class="nav">
  <div class="nav-logo">
    <img src="assets/img/Icons/logo-white.svg" alt="Logo">
  </div>
  <div class="nav-menu">
    <a href="#">About me</a>
    <a href="#">Skill Set</a>
    <a href="#">My work</a>
    <div class="nav-mobile" (click)="toggle()" [class.open]="isChecked">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

    </div>
  </section>
  
  <!-- Overlay für das Menü -->
  <div class="nav-overlay" *ngIf="showOverlay" (click)="closeMenu()">
    <!-- Hier das Menü oder zusätzlichen Inhalt einfügen -->
    <div class="nav-logo">
        <!-- <img src="assets/img/Icons/logo-white.svg" alt="Logo"> -->
      </div>
    <div class="nav-menu-content">
        <a href="#">About me</a>
          <a href="#">Skill Set</a>
          <a href="#">My work</a>
    </div>
  </div>
  