.intro {
    padding: 150px 0;
    h2 {
        font-size: 115px;
    }
    &-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.row {
    &-intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



@media (max-width: 1399px) {
    .intro {
        padding: 150px 30px;
    }
}

@media (max-width: 1199px) {
    .intro {
        h2 {
            font-size: 50px;
            line-height: 1.2;
        }
    }
    .row {
        &-intro {
            flex-direction: column;
        }
    }
}