<section id="aboutme" class="intro">
  <div class="main">
    <div class="row-intro">
      <div data-aos="fade-right" class="col-6">
 
        <h2>Let's work together</h2>
      </div>
      <div data-aos="fade-left"class="col-6 intro-flex">
        <div class="intro-circle-little"></div>
        <p>
          {{ "intro.letswork" | translate }}
        </p>
        <!-- hier brauch ich noch einen Angular anker -->
        <a class="btn-primary" href="#contact">{{ 'buttontxt' | translate }}</a>
      </div>
    </div>
  </div>
  <span id="skills"></span>
</section>
