<section class="intro">
  <div class="main">
    <div class="row-intro">
      <div class="col-6">
        <h2>Let's work together</h2>
      </div>
      <div class="col-6 intro-flex">
        <p>
          I am a Front-end developer based in Munich, Germany. I enjoy helping
          designers and companies bring their ideas into real life. I am looking
          forward to continuing my developer career with a job in a junior web
          developer position. If you think I’d be a good match for your
          projects, contact me!
        </p>
        <!-- hier brauch ich noch einen Angular anker -->
        <button class="btn-primary" href="#contacts">Send a message</button>
      </div>
    </div>
  </div>
</section>
