@import "../../portfolio/src/app/shared/style/base.scss";
@import "../../portfolio/src/app/shared/style/fonts.scss";
@import "../../portfolio/src/app/shared/style/mixins.scss";
@import "../../portfolio/src/app/shared/style/colors.scss";
@import '../../portfolio/node_modules/aos/dist/aos.css';

body {
  margin: 0;
}
.circle {
  @include circle(100px, $primary-color, $secondary-color);
}

h1 {
    font-family: $secondary-font;
    font-weight: 400;
    color: $primary-color;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-family: $secondary-font;    
    color: $primary-color;
    font-weight: 900;
    line-height: 1.0;
    margin: 0;
}

