<section class="imprint">
    <div class="main">
      <div class="row-imprint">
        <h1>Impressum</h1>

        <p>Verena Schranz<br />
        Kaltschmiedweg 3<br />
        82544 Egling</p>
        
        <h2>{{ "imprint.contact" | translate }}</h2>
        <p><a href="mailto:info@verenaschranz.de">E-Mail: info&#64;verenaschranz.de</a></p>

        
        <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

      <h2>{{ "imprint.h1" | translate }}</h2>
  
      <h3>{{ "imprint.datenschutzView" | translate }}</h3>
      <h4>{{ "imprint.h3-allgHinweise" | translate }}</h4>
      <p>{{ "imprint.p-allgHinweise" | translate }}</p>
  
      <h4>{{ "imprint.h3-datenerfassung" | translate }}</h4>
      <h5>{{ "imprint.h4-werIstVerantwortlich" | translate }}</h5>
      <p>{{ "imprint.p-werIstVerantwortlich" | translate }}</p>
  
      <h5>{{ "imprint.h3-wieErfassenDaten" | translate }}</h5>
      <p>{{ "imprint.p-wieErfassenDaten" | translate }}</p>
  
      <h5>{{ "imprint.h4-datennutzung" | translate }}</h5>
      <p>{{ "imprint.p-datennutzung" | translate }}</p>
  
      <h5>{{ "imprint.h4-rechteDaten" | translate }}</h5>
      <p>{{ "imprint.p-rechteDaten" | translate }}</p>
  
      <h5>{{ "imprint.h4-hosting" | translate }}</h5>
      <p>{{ "imprint.p-hosting" | translate }}</p>
      <h5>{{ "imprint.h4-ionos" | translate }}</h5>
      <p>{{ "imprint.p-ionos" | translate }}</p>
      <a href="{{ 'imprint.a-ionos' | translate }}">{{
        "imprint.a-ionos" | translate
      }}</a>
      <p>{{ "imprint.p-ionos-second" | translate }}</p>
  
      <h5>{{ "imprint.h4-allgHinweisePflichtinfo" | translate }}</h5>
      <h5>{{ "imprint.h4-datenschutz" | translate }}</h5>
      <p>{{ "imprint.p-datenschutz" | translate }}</p>
      <h5>{{ "imprint.h4-hinweisVerantwortlich" | translate }}</h5>
      <p>{{ "imprint.p-hinweisVerantwortlich" | translate }}</p>
      <p>{{ "imprint.p-hinweisVerantwortlichName" | translate }}</p>
      <p>{{ "imprint.p-hinweisVerantwortlichStr" | translate }}</p>
      <p>{{ "imprint.p-hinweisVerantwortlichPlz" | translate }}</p>
      <p>{{ "imprint.p-hinweisVerantwortlichMail" | translate }}</p>
      <p>{{ "imprint.p-hinweisVerantwortlichtxt" | translate }}</p>
  
      <h5>{{ "imprint.h4-speicherdauer" | translate }}</h5>
      <p>{{ "imprint.p-speicherdauer" | translate }}</p>
  
      <h5>{{ "imprint.h4-allgHinweiseRechtsgrundlage" | translate }}</h5>
      <p>{{ "imprint.p-allgHinweiseRechtsgrundlage" | translate }}</p>
  
      <h5>{{ "imprint.h4-PersonenbezogenenDaten" | translate }}</h5>
      <p>{{ "imprint.p-PersonenbezogenenDaten" | translate }}</p>
  
      <h5>{{ "imprint.h4-widerrufen" | translate }}</h5>
      <p>{{ "imprint.p-widerrufen" | translate }}</p>
  
      <h5>{{ "imprint.h4-widerspruchsrecht" | translate }}</h5>
      <p>{{ "imprint.p-widerspruchsrecht" | translate }}</p>
  
      <h5>{{ "imprint.h4-Beschwerderecht" | translate }}</h5>
      <p>{{ "imprint.p-Beschwerderecht" | translate }}</p>
  
      <h5>{{ "imprint.h4-RechtDatenübertragbarkeit" | translate }}</h5>
      <p>{{ "imprint.p-RechtDatenübertragbarkeit" | translate }}</p>
  
      <h5>{{ "imprint.h4-auskunft" | translate }}</h5>
      <p>{{ "imprint.p-auskunft" | translate }}</p>
  
      <h5>{{ "imprint.h4-rechtVerarbeitung" | translate }}</h5>
      <p>{{ "imprint.p-rechtVerarbeitung" | translate }}</p>
      <ul>
        <li>{{ "imprint.list-rechtVerarbeitung-1" | translate }}</li>
        <li>{{ "imprint.list-rechtVerarbeitung-2" | translate }}</li>
        <li>{{ "imprint.list-rechtVerarbeitung-3" | translate }}</li>
        <li>{{ "imprint.list-rechtVerarbeitung-4" | translate }}</li>
      </ul>
      <p>{{ "imprint.p-rechtVerarbeitung-txt" | translate }}</p>
  
      <h4>{{ "imprint.h3-plugins" | translate }}</h4>
  
      <h4>{{ "imprint.h4-googlefonts" | translate }}</h4>
      <p>{{ "imprint.p-googlefonts-1" | translate }}</p>
      <p>{{ "imprint.p-googlefonts-2" | translate }}</p>
      <p>{{ "imprint.p-googlefonts-3" | translate }}</p>
      <p>{{ "imprint.p-googlefonts-4" | translate }}</p>
      <a href="{{ 'imprint.p-googlefonts-5' | translate }}">{{
        "imprint.p-googlefonts-5" | translate
      }}</a>
      <p>{{ "imprint.p-googlefonts-6" | translate }}</p>
      <a href="{{ 'imprint.p-googlefonts-7' | translate }}">{{
        "imprint.p-googlefonts-7" | translate
      }}</a>
      <p>{{ "imprint.p-googlefonts-8" | translate }}</p>
      <a href="{{ 'imprint.p-googlefonts-9' | translate }}">{{
        "imprint.p-googlefonts-9" | translate
      }}</a>
  
      <p>
        <a href="{{ 'Quelle' | translate }}">{{
          "Quelle" | translate
        }}</a>
      </p>
      </div>
    </div>
  </section>
  