<section class="footer">    
<div class="row-footer">
    <div class="footer-logo">test</div>
    <div class="footer-content">
        <div class="footer-content-name">
            Verena Schranz 2024
        </div>
        <div class="footer-content-imprint">
            <a href="/impressum">Impressum</a>
        </div>
    </div>
    <div class="footer-content-social">
        <a href="https://github.com/VerenaSchranz" target="_blank"><img src="assets/img/Icons/social/github-white.svg" alt=""></a>
        <a href="mailto:info@verena.schranz.de" ><img src="assets/img/Icons/social/mail-white.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/verena-schranz-1970ab2a6/" target="_blank"><img src="assets/img/Icons/social/linkedin-white.svg" alt=""></a>
    </div>
</div>
</section>